.search {
  position: relative;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 40px;
}

.search > img {
  position: absolute;
  left: 8.5px;
}

.search input[type="search"] {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
.search input[type="search"]:focus {
  outline: none;
}
.search input[type="search"]::-webkit-search-cancel-button{
  display: none;
}
